<div class="l-box">
  <h1><%= @user.username %>'s profile</h1>
  <p>
    <strong><%= @user.images.count %></strong> images uploaded.
    Joined <strong><%= @user.created_at.strftime('%Y-%m-%d') %></strong>.
    <%= link_to 'View albums.', show_user_albums_path(@user) %>
  </p>

  <div id="recent_uploads">
    <h2>Recent uploads</h2>

    <% if @user.has_images? %>
      <% if show_edit_mode? %>
        <%= form_tag(edit_mode_submit_path) do %>
          <%= render 'images/recent_uploads_gallery' %>
        <% end %>
      <% else %>
        <%= render 'images/recent_uploads_gallery' %>
      <% end %>
    <% else %>
      <p><%= @user.username %> has not uploaded anything yet.</p>
    <% end %>
  </div>
</div>

