<div class="l-box">
  <h1><%= @user.username %>'s profile</h1>
  <p>
    <strong><%= @user.images.count %></strong> images uploaded.
    Joined <strong><%= @user.created_at.strftime('%Y-%m-%d') %></strong>.
  </p>

  <div id="recent_uploads">
    <h2>Recent uploads</h2>

    <% if @user.has_images? %>
      <%= render 'images/gallery_pagination', :collection => @recent_uploads %>
      <%= render 'images/edit_mode_controls' if show_edit_mode? %>
      <%= render 'images/tiles', :images => @recent_uploads %>
      <%= render 'images/gallery_pagination', :collection => @recent_uploads %>
    <% else %>
      <p><%= @user.username %> has not uploaded anything yet.</p>
    <% end %>
  </div>
</div>

