<div class="l-box">
  <h1><%= @user.username %>'s profile</h1>
  <p>
    <strong><%= @user.images.count %></strong> images uploaded.
    Joined <strong><%= @user.created_at.strftime('%Y-%m-%d') %></strong>.
  </p>

  <div id="recent_uploads">
    <h2>Recent uploads</h2>

    <% if @user.has_images? %>
      <div class="l-box center">
        <%= page_entries_info @recent_uploads %>
      </div>
      <div class="l-box center pure-hidden-phone">
        <%= will_paginate @recent_uploads %>
      </div>
      <div class="l-box center pure-hidden-tablet pure-hidden-desktop">
        <%= will_paginate @recent_uploads, :page_links => false %>
      </div>

      <%= render 'images/tiles', :images => @recent_uploads %>
    <% else %>
      <p><%= @user.username %> has not uploaded anything yet.</p>
    <% end %>
  </div>
</div>

