<div class="pure-g-r">
  <div class="pure-u-1-2">
    <div class="l-box">
      <h3>
        About uploadstuffto.me
        <%= link_to "https://travis-ci.org/Margatroid/no-more-ideas", :target => :blank do %>
          <%= image_tag "https://api.travis-ci.org/Margatroid/no-more-ideas.png?v=#{ Time.now.to_i / 3600 }",
                        alt: 'Build status' %>
        <% end %>
      </h3>
      <p>
        uploadstuffto.me is an image hosting site.
        I just wanted an imgur pro account without paying for it.
        Invite keys are required to register an account, just ask me for one.
        This site is hosted on
        <%= link_to 'https://www.digitalocean.com/?refcode=49fbed615e41', :target => :blank do %>Digital Ocean<% end %>
        and you can
        <%= link_to 'https://github.com/Margatroid/no-more-ideas', :target => :blank do %>view the project source here.<% end %>
      </p>
    </div>
  </div>
  <div class="pure-u-1-2">
    <div class="l-box">
      <h3>Features</h3>
        <ul>
          <li>Images can be shared with a unique short URL.</li>
          <li>Private images that cannot be attributed to a username.</li>
          <li>User galleries for public images and albums.</li>
          <li>Private and public albums for images with captions for each image.</li>
          <li>
            HTML5 multiple file upload (sadly not well supported in mobile browsers yet).
          </li>
          <li>Responsive layout with pure.</li>
          <li>Degrades somewhat gracefully when no JS is available.</li>
        </ul>
    </div>
  </div>
</div>

<div class="pure-g-r">
  <div class="pure-u-1">
    <div class="l-box">
      <%= render template: 'images/new' if user_signed_in? %>
    </div>
  </div>

  <% if user_signed_in? && current_user.images.count > 0 %>
    <div class="pure-u-1" id="my_recent_uploads">
      <div class="l-box">
        <h2>My recent uploads</h2>
        <%= render 'images/tiles', :images => @my_recently_uploaded %>
      </div>
    </div>
  <% end %>

  <div class="pure-u-1" id="recent_uploads">
    <div class="l-box">
      <h2><%= (user_signed_in?) ? "Everyone else's r" : 'R' %>ecent uploads</h2>
      <%= render 'images/tiles', :images => @recently_uploaded %>
    </div>
  </div>
</div>