<div class="l-box">
  <p>
    <strong>Title:</strong>
    <%= @album.title %>
  </p>

  <%= link_to 'Edit', edit_album_path(@album) if current_user == @album.user %>
</div>

<% if @album.has_images? %>
  <% @album.album_images.each do |album_image| %>
    <div class="l-box">
      <%= link_to image_path(album_image.image) do %>
        <%= image_tag(album_image.image.file.url(:original, timestamp: false)) %>
      <% end %>
      <p><%= album_image.description %></p>
    </div>
  <% end %>
<% end %>
