<% title('Log in') %>

<div class="l-box">
  <h2>Log in</h2>

  <%= form_for(resource,
               :as => resource_name,
               :url => session_path(resource_name),
               :html => {:class => 'pure-form pure-form-aligned'}) do |f| %>
    <fieldset>
      <div class="pure-control-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %>
      </div>

      <div class="pure-control-group">
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder => 'Password' %>
      </div>

      <div class="pure-controls">
        <% if devise_mapping.rememberable? -%>
          <%= f.label(:remember_me, class: 'pure-checkbox') do %>
            <%= f.check_box :remember_me %>
            Remember me
          <% end %>
        <% end %>

        <%= f.submit("Sign in", :class => 'pure-button pure-button-primary') %>
      </div>
    </fieldset>
  <% end %>
</div>