<%= form_for(@image, :html => { :class => 'pure-form' }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.check_box(:public) %>
    <%= f.label(:public, 'Publicly visible for everyone else.') %>
  </p>

  <p>
    <%= f.label(:description) %>
    <%= f.text_area(:description, placeholder: 'Description') %>
  </p>

  <div class="actions">
    <%= f.submit(class: 'pure-button pure-button-primary') %>
  </div>
<% end %>
