<h2>Upload image(s)</h2>

<h3>Upload files from computer</h3>
<%= form_for @image, :url => images_path, :html => { multipart: true } do |f| %>
  <%= f.label 'file' %>
  <%= f.file_field :file, :multiple => true %>
  <%= submit_tag 'Upload image' %>
<% end %>

<h3>Upload file from URL</h3>
<%= form_for @image, :url => images_path do |f| %>
  <%= label_tag(:image_url, 'Upload from URL') %>
  <input id="image_url" name="image[url]" type="url" />
  <%= submit_tag 'Upload from this URL' %>
<% end %>