<h1>New image</h1>

<%= form_for @image, :url => images_path, :html => { multipart: true } do |f| %>
  <%= f.label 'file' %>
  <%= f.file_field :file %>
  <%= submit_tag 'Upload image' %>
<% end %>

<%= link_to 'Back', images_path %>
