<div class="pure-u-1">
  <div class="l-box">
    <% if @image.public? || (user_signed_in? && @image.user == current_user) %>
      <p>
        Uploaded by <%= link_to @image.user.username, user_path(@image.user) %>.
        <% if @permissions[:edit] %>
          <%= link_to 'Edit', edit_image_path(@image) %>
          <%= link_to 'Delete', destroy_image_path(@image), method: :delete %>
        <% end %>
      </p>
    <% end %>

    <div>
      <%= link_to @image.file.url(:original) do %>
        <%= image_tag @image.file.url(:original), { id: 'fullsize_image' } %>
      <% end %>
    </div>

    <p><%= @image.description %></p>
  </div>
</div>
