<!DOCTYPE html>
<html>
<head>
  <title>NoMoreIdeas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_status">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>.
    <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Register", new_user_registration_path %>
    or
    <%= link_to "log in", new_user_session_path %>
  <% end %>
</div>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
